.container {
    border: 1px solid black;
    width: 100%;
    height: 100%;
max-width: 800px;
max-height: 1160px;
}

.header {
    border: none;
    background-color: rgb(35, 23, 90);
    width: 250px;
    height: 60px;

}

.footer {
    border: none;
    background-color: rgb(35, 23, 90);
    width: 520px;
    height: 60px;
    margin-left: 280px;
    position: relative;
    bottom: 1137px;


}

.contact {
margin-left: 31px;
    color: rgb(73, 73, 73);
    max-width: 260px;
    padding: 10px 50px 50px 20px;

    position: relative;
    bottom: 900px;

}
.skills {
    margin-left: 31px;
    color: rgb(73, 73, 73);
}
.maininfo {
    font-size: 17px;
    margin-left: 400px;
max-width: 300px;

position: relative;
    bottom: 220px;
  padding: 40px 50px 50px 40px;

}

.lines {
    border: none;
    background-color: rgb(133, 130, 130);
    width: 300px;
    height: 2px;
    position: relative;
    top: 167px;
    left: 438px
} 
.photo {
    padding: 10px 10px 10px 10px;
    max-height: 200px;
    max-width: 200px;


}
.photo>img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 65px;
}
.logo>img {
    object-fit: cover;

    object-position: 50% 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 620px;
    margin-top: 930px;
    opacity: 30%;
}
.name {
    font-size: 15px;
        margin-left: 31px;
        color: rgb(78, 78, 117);
margin-left: 110px;


    }
    .nameinfo {

    }
    .skills {
        padding: 40px 50px 50px 40px;

max-width: 100px;
position: relative;
    bottom: 1080px;
    }
    .contactl {
        position: relative;
        bottom: 50px;

  padding: 40px 50px 50px 40px;

    }